<% content_for :title, "Редактирование подборки" %>

<main class="NewMemory">
  <div class="NewMemoryContainer">
    <h3 class="NewMemoryTitle">Редактирование подборки</h3>
    <%= render "form", collection: @collection %>
  </div>
</main>
