<p><%= comment.body %></p>

  <div><% if comment.user == current_user %>
    <%= link_to "Destroy Comment", [comment.memory, comment], data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %></div>


