<%= form_with model: Comment.new, url: memory_comments_path(@memory) do |form| %>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>