.Cover {
  background: var(--White);
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.ImportantMoments,
.ConvenientTools {
  background: var(--Light-Beige);
}

.SaveMemory,
.SubscriptionBlock {
  background: var(--Blue-Halftone);
}

.CoverInner {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.CoverMemories {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.CoverMemories > * {
  position: absolute;
  pointer-events: auto;
  will-change: transform;
}

.CoverMemories > .ImportantMoments1 {
  width: clamp(6rem, 12.22vw, 11rem);
  height: clamp(6.5rem, 13.33vw, 12rem);
  top: -1rem;
  left: clamp(10rem, 25.56vw, 23rem);
  object-fit: cover;
}

.CoverMemories > .ImportantMoments2 {
  width: clamp(7rem, 10.21vw, 9.1875rem);
  height: clamp(8rem, 12.22vw, 11rem);
  top: 17rem;
  left: clamp(4rem, 10vw, 9rem);
  object-fit: cover;
}

.CoverMemories > .ImportantMoments3 {
  width: clamp(6.5rem, 13.125vw, 11.8125rem);
  height: clamp(7.5rem, 15.76vw, 14.1875rem);
  object-fit: cover;
  top: 33rem;
  left: clamp(8rem, 20vw, 18rem);
}

.CoverMemories > .CoverImg4 {
  bottom: -5rem;
  right: clamp(13rem, 33.33vw, 30rem);
  width: clamp(5rem, 10.21vw, 9.1875rem);
  height: clamp(6rem, 12.22vw, 11rem);
  object-fit: cover;
}

.CoverMemories > .CoverImg5 {
  object-fit: cover;
  width: clamp(4.5rem, 9.79vw, 8.8125rem);
  height: clamp(5.5rem, 11.81vw, 10.625rem);
  object-position: top;
  top: 29rem;
  right: clamp(8rem, 21.11vw, 19rem);
}

.CoverMemories > .whatDoesAeternaDo {
  object-fit: cover;
  width: clamp(6.5rem, 13.125vw, 11.8125rem);
  height: clamp(7.5rem, 15.83vw, 14.25rem);
  right: -1rem;
  top: 12rem;
}

.TextMemory {
  padding: 1rem;
  overflow: hidden;
  font-family: 'PP Neue Montreal';
  color: var(--Grey);
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  background: var(--Light-Beige);
}

#TextMemory1 {
  top: 31.63rem;
  left: -5rem;
  width: 14.125rem;
}
#TextMemory2 {
  width: 17rem;
  top: 3rem;
  left: 42rem;
}
#TextMemory3 {
  width: 16rem;
  right: -1rem;
  top: 36rem;
}

.CoverText {
  position: relative;
  z-index: 1;
}

.Heading {
  margin: 13rem 1.5rem 1.5rem 1.5rem;
}

.Heading > h1 {
  width: clamp(30rem, 40vw, 40rem);
  margin-bottom: 1.5rem;
  margin-left: 42%;
}

.Heading > p {
  width: 19rem;
  margin-left: 42%;
  margin-bottom: 2.5rem;
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
}

.CTA {
  margin-left: 42%;
  margin-bottom: 16rem;
}

.CTA a {
  display: inline-flex;
  align-items: center;
  gap: 1.35rem;
  background-color: var(--White);
  padding: 0.125rem 0.4rem 0.125rem 0.75rem;
  border-radius: 0.125rem;
  font-size: 1rem;
  letter-spacing: -0.0175rem;
  height: 2.125rem;
}

.CoverText > .CTA a {
  background-color: var(--Light-Beige);
}

.CoverText > .CTA a:hover {
  background-color: var(--Beige);
}
.EmailForm > .CTA {
  margin-bottom: 0;
}

.ArrowBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--Light-Blue);
  border-radius: 0.125rem;
  transition: opacity 0.15s;
}

.ArrowBox::after {
  content: '';
  width: 0.3125rem;
  height: 0.3125rem;
  border-top: 1px solid var(--Dark-Grey);
  border-right: 1px solid var(--Dark-Grey);
  transform: rotate(45deg);
  margin-right: 0.31rem;
}

.CTA a:hover {
  background-color: #f0f0f0;
}
.CTA a:hover .ArrowBox {
  opacity: 0.85;
}

.WhatDoesAeternaDo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: var(--Blue-Halftone);
}

.WhatDoesAeternaDo > .PageWrapper {
  height: 100%;
  max-width: 100%;
  padding: 0;
}

.WhatDoesAeternaDoContainer {
  display: flex;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.LeftPart {
  width: 58.4%;
  padding-top: 7.5rem;
  padding-left: 1.5rem;
}

.LeftPart > h2 {
  width: 37rem;
}

.HappyCouple {
  width: 16rem;
  height: auto;
  object-fit: cover;
  margin-top: 6rem;
}

.HorizontalDivider {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.RightPart {
  position: relative;
  width: 41.6%;
}

.RightPart > p {
  width: 20rem;
  color: var(--Dark-Grey);
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 110%;
  margin-left: -5rem;
  margin-top: 42rem;
}

.Flower {
  position: absolute;
  mix-blend-mode: multiply;
  right: 3rem;
  bottom: 1rem;
  height: 71%;
  z-index: 1;
  opacity: 0.6;
  pointer-events: none;
}

.Headers {
  margin-top: 7.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 36.37rem;
}

.Headers > p,
.Headers > h2 {
  margin: 0;
}
.Headers > h2 {
  width: 24rem;
}

.ImportantMoments {
  padding-top: 0;
}

.PhotoBlockContainer {
  position: relative;
  height: 80rem;
}

.PhotoBlock {
  display: flex;
  gap: 0.5rem;
  position: absolute;
}

.PhotoBlock:nth-child(1) {
  top: 6rem;
}
.PhotoBlock:nth-child(2) {
  right: clamp(20rem, 32.5vw, 32.5rem);
  top: 6rem;
}
.PhotoBlock:nth-child(3) {
  left: clamp(35rem, 55vw, 55rem);
  top: 30rem;
}

.VerticalDivider {
  width: 0.125rem;
  object-fit: cover;
}

.PhotoBlock:nth-child(1) > .VerticalDivider {
  height: clamp(30rem, 40vw, 40rem);
}
.PhotoBlock:nth-child(2) > .VerticalDivider {
  height: 19rem;
}
.PhotoBlock:nth-child(3) > .VerticalDivider {
  height: 38.3rem;
}

.PhotoBlockContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.PhotoBlockContent > h3,
.PhotoBlockContent > p {
  margin: 0;
}

.PhotoBlockContent > .ImageXL {
  transform: rotate(1.208deg);
  margin-bottom: 0.5rem;
}
.PhotoBlockContent > .ImageS {
  object-fit: cover;
  object-position: 0 -30px;
  margin-bottom: 0.5rem;
}
.PhotoBlockContent > .ImageXXL {
  transform: rotate(-1.227deg);
  margin-bottom: 0.5rem;
  object-fit: cover;
  object-position: 0 -80px;
}

.PhotoBlockContent > h3 {
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.025rem;
}

.PhotoBlockContent > p {
  width: 24.125rem;
}
.PhotoBlock:nth-child(2) .PhotoBlockContent > p {
  width: 13.56rem;
}

.SaveMemory {
  display: flex;
  height: 18.75rem;
  position: relative;
  overflow: hidden;
}

.SaveMemory > .PageWrapper {
  display: flex;
  align-items: stretch;
}

.SaveMemoryContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 5rem 0 5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.SaveMemoryContainer > h2,
.SaveMemoryContainer > .CTA > p {
  margin: 0;
}
.SaveMemoryContainer > h2 {
  flex-shrink: 0;
}

.SaveMemoryContainer > .CTA > p {
  text-align: left;
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
  width: 22rem;
}

.SaveMemoryContainer > .CTA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  margin-left: 0;
}

.FlowerPattern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: auto;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.ConvenientTools {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ConvenientTools > .PageWrapper > .Headers {
  justify-content: space-between;
  gap: 0;
}

.ConvenientTools > .PageWrapper > .Headers > h2 {
  width: 35rem;
}

.Features {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem;
  gap: 3rem;
}

.FeaturesContainer {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: end;
  flex-wrap: wrap;
}

.Feature {
  width: 12.8rem;
}

.Feature > p {
  margin-bottom: 0;
}

.Flower2 {
  position: absolute;
  bottom: 0;
  left: 5.8rem;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.6;
}

.SubscriptionBlock > .PageWrapper > .Heading {
  margin: 5rem 0 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SubscriptionBlock > .PageWrapper > .Heading > h2 {
  width: 22rem;
  margin: 0;
}

.EmailForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.EmailForm > p {
  width: 25rem;
  margin: 0;
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
}

.EmailForm > .CTA {
  margin-left: 0;
}

.FormField {
  display: flex;
  width: 19.125rem;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.125rem 0 0 0.125rem;
  background: var(--Light-Blue);
  height: 2.25rem;
}

.FormButton {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  background-color: var(--Light-Blue);
  border-radius: 0 0.125rem 0.125rem 0;
  height: 2.25rem;
  transition: opacity 0.15s;
}

.FormButton:hover {
  opacity: 0.85;
}

#new_subscription > .Form {
  display: flex;
  flex-direction: row;
}

#new_subscription > .Form > .FormField > .FormInput {
  display: flex;
  width: 21.375rem;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: var(--Light-Blue);
  text-align: left;
  font-family: 'JetBrains Mono';
  font-size: 0.75rem;
  font-weight: 300;
}

#new_subscription > .Form > .FormActions > .FormButton > .ArrowBox::after {
  border-top: 1px solid var(--Grey);
  border-right: 1px solid var(--Grey);
  width: 0.4rem;
  height: 0.4rem;
}

#new_subscription > .Form > .FormField > .FormInput::placeholder {
  color: var(--Grey);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Heading:not(.Home) > h1,
  .Heading:not(.Home) > p,
  .Cover:has(.Heading:not(.Home)) .CTA {
    margin-left: 33%;
  }

  .Headers,
  .ConvenientTools > .PageWrapper > .Headers {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Headers > h2,
  .ConvenientTools > .PageWrapper > .Headers > h2 {
    width: 100%;
  }

  .PhotoBlockContainer {
    position: static;
    height: auto;
    margin: 6rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 1.5rem;
  }

  .PhotoBlock {
    position: static;
  }

  .PhotoBlock:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    top: auto;
  }

  .PhotoBlock:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    right: auto;
    top: auto;
  }

  .PhotoBlock:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
    left: auto;
    top: auto;
    justify-content: center;
  }

  .PhotoBlock:nth-child(1) .PhotoBlockContent {
    width: 14.0625rem;
  }

  .PhotoBlock:nth-child(2) .PhotoBlockContent {
    width: 15.5625rem;
  }

  .PhotoBlock:nth-child(3) .PhotoBlockContent {
    width: clamp(25rem, 35vw, 35rem);
  }

  .PhotoBlockContent > p,
  .PhotoBlock:nth-child(2) .PhotoBlockContent > p {
    width: 100%;
  }

  .SaveMemoryContainer {
    gap: 3rem;
  }

  .SaveMemoryContainer > h2 {
    flex-shrink: 1;
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .ImportantMoments1,
  #TextMemory2,
  .CoverImg4 {
    display: none;
  }

  .Heading {
    margin: 60vw 0 7.25vw 0;
  }

  .CoverInner,
  .WhatDoesAeternaDoContainer {
    max-width: 767px;
    padding: 0 4.45vw;
  }

  .Heading > h1,
  .Heading > p,
  .CTA {
    margin-left: 0;
  }

  .Heading > h1 {
    width: 100%;
    margin-bottom: 5.56vw;
  }

  .Heading > p {
    font-size: 3.9vw;
    width: 55vw;
    margin-bottom: 6.65vw;
  }

  .CTA {
    margin-bottom: 83.5vw;
  }

  .CTA > a {
    gap: 6vw;
    padding: 0.56vw 1.79vw 0.56vw 3.35vw;
    border-radius: 0.56vw;
    font-size: 3.9vw;
    height: 9.5vw;
  }

  .ArrowBox {
    width: 6.67vw;
    height: 6.67vw;
    border-radius: 0.55vw;
  }

  .TextMemory {
    font-size: 2.8vw;
    padding: 2.5vw;
  }

  #TextMemory1 {
    top: 145vw;
    left: 5vw;
    width: 44vw;
    z-index: 1;
  }

  .CoverMemories > .ImportantMoments2 {
    display: none;
  }

  .CoverMemories > .ImportantMoments1 {
    top: 23.3vw;
    left: 21.8vw;
    width: 32vw;
    height: 33vw;
  }

  .CoverMemories > .ImportantMoments3 {
    bottom: 29vw;
    top: auto;
    left: 18vw;
    width: 40vw;
    height: 47vw;
  }

  #TextMemory2 {
    width: 41vw;
    top: 27vw;
    left: 51vw;
  }

  .CoverMemories > .CoverImg4 {
    width: 28vw;
    height: 34vw;
    bottom: -9vw;
    right: 4vw;
    top: auto;
  }

  .CoverMemories > .CoverImg5 {
    width: 34vw;
    height: 35vw;
    top: 138vw;
    right: -5vw;
  }

  .CoverMemories > .whatDoesAeternaDo {
    height: 47vw;
    width: 37vw;
    right: -23vw;
    top: 39vw;
  }

  #TextMemory3 {
    width: 49vw;
    right: -26vw;
    top: auto;
    bottom: 32vw;
  }

  .WhatDoesAeternaDo {
    height: 100%;
  }

  .WhatDoesAeternaDoContainer {
    flex-direction: column;
  }

  .LeftPart {
    width: 100%;
    padding-top: 10.3vw;
    padding-left: 0;
    z-index: 1;
  }

  .RightPart {
    width: 100%;
    background: none;
  }

  .RightPart::after {
    display: none;
  }

  .Subtitle {
    font-size: 3.9vw;
  }

  .LeftPart > h2 {
    width: 100%;
    margin-top: 4.5vw;
    margin-bottom: 0;
  }

  .HappyCouple {
    margin-top: 58vw;
    width: 46vw;
    height: 58vw;
    transform: none;
  }

  .Flower {
    right: 9vw;
    bottom: 0;
    top: 65vw;
    height: 70vw;
    z-index: 0;
  }

  .RightPart > p {
    width: 100%;
    font-size: 5.55vw;
    margin-left: 0;
    margin-top: 5vw;
    margin-bottom: 14vw;
  }

  .HorizontalDivider {
    display: none;
  }

  .ImportantMoments > .PageWrapper {
    max-width: 767px;
    margin: 0 4.45vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 18vw;
    max-width: fit-content;
  }

  .Headers {
    margin-top: 15vw;
    flex-direction: column;
    gap: 3.35vw;
  }

  p.Subtitle {
    font-size: 3.9vw;
  }

  .Headers > h2 {
    width: 100%;
  }

  .PhotoBlockContainer {
    height: 100%;
    padding-bottom: 42vw;
    display: flex;
    flex-direction: column;
    gap: 12.5vw;
  }

  .PhotoBlock {
    position: unset;
    gap: 1vw;
    width: min-content;
  }

  .PhotoBlockContent > .ImageXL,
  .PhotoBlockContent > .ImageS,
  .PhotoBlockContent > .ImageXXL {
    transform: none;
    margin-bottom: 2vw;
  }

  .PhotoBlockContent {
    gap: 1.5vw;
  }

  .PhotoBlockContent > .ImageXL {
    height: 91.7vw;
  }

  .PhotoBlockContent > .ImageS {
    height: 43vw;
    width: 42vw;
  }

  .PhotoBlockContent > .ImageXXL {
    height: 80vw;
    width: 85.5vw;
  }

  .PhotoBlock:nth-child(1) > .VerticalDivider,
  .PhotoBlock:nth-child(3) > .VerticalDivider,
  .PhotoBlock:nth-child(2) > .VerticalDivider {
    width: 1.167px;
  }

  .PhotoBlock:nth-child(1) > .VerticalDivider {
    height: 106vw;
  }

  .PhotoBlock:nth-child(2) > .VerticalDivider {
    height: 62vw;
  }

  .PhotoBlock:nth-child(3) > .VerticalDivider {
    height: 99vw;
  }

  .PhotoBlock:nth-child(1) {
    order: 1;
  }

  .PhotoBlock:nth-child(2) {
    align-self: end;
  }

  .PhotoBlock:nth-child(3) {
    order: 2;
  }

  .PhotoBlockContent {
    margin-bottom: 0;
  }

  .PhotoBlockContent > h3 {
    font-size: 4vw;
  }

  .PhotoBlockContent > p,
  .PhotoBlock:nth-child(2) .PhotoBlockContent > p {
    font-size: 3.4vw;
    width: fit-content;
  }

  .VerticalDivider {
    display: none;
  }

  .SaveMemory {
    height: 100%;
  }

  .SaveMemory > .PageWrapper,
  .ConvenientTools > .PageWrapper,
  .SubscriptionBlock > .PageWrapper {
    max-width: 767px;
    margin: 0 4.45vw;
    padding: 0;
  }

  .SaveMemoryContainer {
    flex-direction: column;
    padding: 11vw 0;
  }

  .SaveMemoryContainer > h2 {
    width: min-content;
    margin-bottom: 10vw;
  }

  .SaveMemoryContainer > .CTA > p {
    font-size: 5vw;
    width: fit-content;
  }

  .SaveMemoryContainer > .CTA {
    gap: 11vw;
    margin-bottom: 0;
  }

  .SaveMemoryContainer > .CTA a {
    justify-content: space-between;
    padding: 0.56vw 1.79vw 0.56vw 3.35vw;
    gap: 6vw;
  }

  .ArrowBox::after {
    width: 1.4vw;
    height: 1.4vw;
    border-top: 0.28vw solid var(--Dark-Grey);
    border-right: 0.28vw solid var(--Dark-Grey);
  }

  .FlowerPattern {
    top: 85%;
    left: 100%;
    width: 500%;
  }

  .ConvenientTools > .PageWrapper {
    width: auto;
  }

  .ConvenientTools > .PageWrapper > .Headers > h2 {
    order: 1;
    width: fit-content;
  }

  .ConvenientTools > .PageWrapper > .Headers {
    gap: 4.5vw;
  }

  .ConvenientTools > .PageWrapper > .HorizontalDivider {
    display: block;
    width: 100%;
    object-fit: none;
    margin-top: 16vw;
    padding-right: 0;
  }

  .Features {
    margin-top: 11vw;
    flex-direction: column;
    margin-bottom: 11vw;
    gap: 5.55vw;
  }

  .ImageL {
    width: 62.5vw;
    height: 81.5vw;
  }

  .Flower2 {
    bottom: 0;
    left: 0;
    top: 55vw;
    width: 129vw;
    height: 128vw;
  }

  .FeaturesContainer {
    flex-wrap: nowrap;
    flex-direction: column;
    align-self: flex-start;
    gap: 6.7vw;
  }

  .Feature {
    width: 60%;
  }

  .Feature > h3 {
    font-size: 5.5vw;
    margin-top: 0;
    margin-bottom: 2.25vw;
  }

  .Feature > p {
    font-size: 4.45vw;
  }

  .SubscriptionBlock > .PageWrapper > .Heading {
    margin: 14.5vw 0 14.5vw 0;
    flex-direction: column;
  }

  .SubscriptionBlock > .PageWrapper {
    width: auto;
  }

  .SubscriptionBlock > .PageWrapper > .Heading > h2 {
    width: fit-content;
    margin-bottom: 29vw;
  }

  .EmailForm {
    gap: 6.5vw;
  }

  .EmailForm > p {
    width: fit-content;
    font-size: 5vw;
  }

  .FormButton {
    border-radius: 0 0.6vw 0.6vw 0;
    height: 10vw;
    width: 10vw;
  }

  .FormField {
    width: 100%;
    height: 10vw;
    padding: 2.25vw 0;
  }

  #new_subscription > .Form > .FormField > .FormInput {
    width: 82vw;
    height: 10vw;
    padding: 2.25vw 5vw;
    font-size: 3.35vw;
  }

  .FormButton {
    border-radius: 0 0.6vw 0.6vw 0;
    height: 10vw;
    width: 10vw;
  }
}
