#TextMemory4 {
  width: 16.13181rem;
  left: 1.5rem;
  top: 25rem;
}

.BirdImg {
  width: 22.48831rem;
  height: 18.78669rem;
  right: 1rem;
  top: 10rem;
}

.GrannyImg {
  bottom: 4rem;
  left: 8rem;
  width: 15.6715rem;
  height: 13.94869rem;
}

.CrochetImg {
  width: 9.08925rem;
  height: 8.88488rem;
  left: 11rem;
  top: 13rem;
  z-index: 2;
}

.CoverMemories.Home > .ImportantMoments2 {
  top: 9rem;
  left: 18rem;
}

.CoverMemories.Home > .whatDoesAeternaDo {
  width: 14.0625rem;
  height: 18.375rem;
  right: 4rem;
  top: 26rem;
}

.RecentNotes {
  height: 60rem;
  background: #f2efe8;
  padding: 7.5rem 1.5rem 5rem 1.5rem;
}

.RecentNotesHeading > h2,
.RecentNotesHeading > p {
  margin: 0;
}

.RecentNotesHeading,
.ImportantMomentsMainHeading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.RecentNotesHeading > h2,
.ImportantMomentsMainHeading > h2 {
  margin-bottom: 1.5rem;
}

.RecentNotesHeading > .Description,
.ImportantMomentsMainHeading > .Description {
  width: 19.9375rem;
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
}

.RecentNotesImages {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.ImageContainer1 {
  width: 14.0625rem;
  height: 18.375rem;
  object-fit: cover;
}

.ImageContainer2 {
  width: 21.375rem;
  height: 23.5625rem;
  object-fit: cover;
}

.ImageContainer3 {
  width: 21.375rem;
  height: 14.5rem;
  object-fit: cover;
}

.ImageContainer4 {
  width: 28.625rem;
  height: 35.25rem;
  object-fit: cover;
}

.tag > p {
  margin: 0;
}

.YourFamily {
  padding: 7.5rem 1.5rem 0rem 1.5rem;
}

.RecentNotesHeading > h2 {
  width: 26.875rem;
}

.IrinaSemenova,
.AlexSemenov,
.VasilisaSemenova,
.MikeSemenov {
  width: 19.375rem;
  height: 19.375rem;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 1rem;
}

.YourFamilyMembers {
  display: flex;
  gap: 0.5rem;
}

.FamilyMemberContainer {
  display: flex;
  width: 21.375rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  background: #f2efe8;
  border-radius: 0.125rem;
}

.FamilyMemberContainer > p {
  margin: 0;
}

.FamilyMemberName {
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
  line-height: 110%;
  text-transform: uppercase;
}

.FamilyMemberBirthday {
  font-family: 'JetBrains Mono';
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.015rem;
}

.ImportantMomentsMain {
  padding: 7.5rem 10.88rem 4.69rem 8.81rem;
  background: var(--White);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ImportantMomentsImg {
  width: 28.6875rem;
  height: 35.25rem;
  border-radius: 0.125rem;
  object-fit: cover;
}

.ImportantMomentsMainContainer {
  display: flex;
  gap: 7.75rem;
}

.ImportantMomentsMainHeading > h2,
.ImportantMomentsMainHeading > p {
  margin: 0;
}

.ImportantMomentsMainHeading > h2 {
  margin-bottom: auto;
}

.ImportantMomentsMainHeading {
  width: 34rem;
  align-items: flex-start;
}

.ImportantMomentsMainHeading > .CTA {
  margin: 0;
}

.ImportantMomentsMainHeading > .CTA a {
  background: #f2efe8;
  width: 9.875rem;
}
