.MemoryShow {
  padding-top: 7.56rem;
  padding-bottom: 5rem;
  position: relative;
}

.MemoryHead {
  max-width: 50rem;
  margin: 0 auto 1.5rem;
}

.MemoryDivider {
  width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}

.MemoryBody {
  position: relative;
  padding: 0 1.5rem;
}

.MemoryMainPart {
  max-width: 50rem;
  margin: 0 auto;
}

.AuthorInfo {
  position: absolute;
  right: 5.5rem;
  top: 0;
  width: 12rem;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.breadcrumbs a {
  display: flex;
  align-items: center;
}

.breadcrumbs a::after {
  content: '';
  display: block;
  width: 1px;
  height: 0.875rem;
  background-color: var(--Light-Grey);
  margin-left: 0.5rem;
}

.breadcrumbs a:nth-child(-n + 2) {
  color: var(--Light-Grey);
}

.MemoryTitle {
  margin: 0;
  font-size: 2rem;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}

.MemoryImage img {
  width: 100%;
  height: 37rem;
  object-fit: cover;
  border-radius: 0.125rem;
}

.MemoryBodyText {
  margin-top: 3rem;
  font-size: 1rem;
  letter-spacing: -0.02rem;
}

.EditButtons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 5rem;
}

.EditButtons > .EditButton {
  border: 1px solid var(--Light-Beige);
  background: var(--Light-Beige);
}

/* Автор */
.AuthorCard {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.AuthorAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  object-fit: cover;
}

.AuthorAvatarPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthorAvatarPlaceholder .ProfileInitials {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.45);
}

.AuthorInfoName {
  font-family: 'JetBrains Mono';
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
  line-height: 100%;
  letter-spacing: -0.0175rem;
}

.AuthorInfoDate {
  margin-top: 2rem;
  color: var(--Grey);
  font-family: 'JetBrains Mono';
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.015rem;
}

.AuthorInfo > .Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.75rem;
  margin-top: 1rem;
}
