.MemoryShow {
  padding-top: 7.56rem;
  padding-bottom: 5rem;
  position: relative;
}

.MemoryHead {
  max-width: 60%;
  margin: 0 1.5rem 2.5rem;
}

.MemoryDivider {
  width: calc(100% - 3rem);
  display: block;
  margin: 0 auto 2.5rem;
}

.MemoryBody {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding: 0 1.5rem;
}

.MemoryMainPart {
  flex: 1;
  max-width: 50rem;
  margin: 0 auto;
}

.AuthorInfo {
  order: -1;
  flex-shrink: 0;
  position: sticky;
  top: 7.56rem;
  width: 12rem;
}

.AuthorInfoSpacer {
  flex-shrink: 0;
  width: 12rem;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.breadcrumbs a {
  display: flex;
  align-items: center;
}

.breadcrumbs a::after {
  content: '';
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background-color: var(--Light-Grey);
  margin-left: 0.5rem;
}

.breadcrumbs a:nth-child(-n + 2) {
  color: var(--Light-Grey);
}

.breadcrumbs a:nth-child(2)::after {
  background-color: var(--Dark-Grey);
}

.MemoryTitle {
  margin: 0;
  font-size: 2rem;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}

.MemoryImage {
  width: 43.25rem;
  margin: 0 auto;
}

.MemoryImage img {
  width: 100%;
  height: 43.25rem;
  object-fit: cover;
  border-radius: 0.125rem;
}

.MemoryBodyText {
  width: 43.25rem;
  margin: 3rem auto 0;
  letter-spacing: -0.02rem;
}

.MemoryBodyText:first-child {
  margin-top: 0;
}

.MemoryBodyText:first-child p:first-child {
  margin-top: 0;
}

.MemoryBodyText p {
  font-size: 1.25rem;
  line-height: 125%;
}

.EditButtons {
  display: flex;
  width: 43.25rem;
  gap: 0.5rem;
  justify-content: flex-start;
  margin: 5rem auto 0;
}

.EditButtons > .EditButton {
  display: flex;
  align-items: center;
  padding: 0.625rem 0.75rem;
  gap: 0.5rem;
  border-radius: 0.125rem;
  border: 1px solid rgba(167, 166, 164, 0.4);
  background: var(--Light-Beige);
  color: var(--Grey);
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: -0.0175rem;
}

.EditButtons .EditIcon {
  width: 0.875rem;
  height: 0.875rem;
}

.MoreMenu {
  position: relative;
}

.MoreMenu::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0.5rem;
}

.MoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1875rem;
  height: 100%;
  padding: 0.625rem 0.75rem;
  border-radius: 0.125rem;
  border: 1px solid rgba(167, 166, 164, 0.4);
  background: var(--Beige);
  cursor: pointer;
}

.MoreButton .Dot {
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 100%;
  background: var(--Dark-Grey);
}

.MoreMenuDropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid rgba(167, 166, 164, 0.4);
  border-radius: 0.125rem;
  background: var(--Light-Beige);
  overflow: hidden;
  z-index: 10;
  margin-top: 0.5rem;
  width: 14.35rem;
}

.MoreMenu:hover .MoreMenuDropdown {
  display: flex;
}

.MoreMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 0.625rem 0.75rem;
  color: var(--Grey);
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: -0.0175rem;
}

.MoreMenuItem:hover {
  background: rgba(167, 166, 164, 0.15);
}

.MoreMenuItem .EditIcon {
  width: 0.875rem;
  height: 0.875rem;
}

.DeleteLink {
  color: #e15454;
}

.DeleteLink:hover {
  background: rgba(225, 84, 84, 0.1);
}

/* Автор */
.AuthorCard {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.AuthorAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  object-fit: cover;
}

.AuthorAvatarPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthorAvatarPlaceholder .ProfileInitials {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.45);
}

.AuthorInfoName {
  font-family: 'JetBrains Mono';
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
  line-height: 100%;
  letter-spacing: -0.0175rem;
}

.AuthorInfoDate {
  margin-top: 2rem;
  color: var(--Grey);
  font-family: 'JetBrains Mono';
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.015rem;
}

.AuthorInfo > .Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.75rem;
  margin-top: 1rem;
}
