<section class="ShiftLeft">
  <% content_for :title, "Editing memory" %>
  
  <h1>Editing memory</h1>
  
  <%= render "form", memory: @memory %>
  
  <br>
  
  <div>
    <%= link_to "Show this memory", [:admin, @memory] %> |
    <%= link_to "Back to memories", admin_timeline_path %>
  </div>
</section>
