<p style="color: green"><%= notice %></p>

<% content_for :title, "Memories" %>

<h1>Memories</h1>

<div id="memories">
  <% @memories.each do |memory| %>
    <%= render memory %>
    <p>
      <%= link_to "Show this memory", [:admin, memory] %>
    </p>
  <% end %>
</div>

<%= link_to "New memory", new_admin_memory_path %>
