<% content_for :title, "Редактирование воспоминания" %>

<main class="NewMemory">
  <div class="NewMemoryContainer">
    <h3 class="NewMemoryTitle">Редактирование воспоминания</h3>
    <%= render "form", memory: @memory %>
  </div>
</main>
