@font-face {
  font-family: 'Neue Montreal';
  src: url('NeueMontreal-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
    url('JetBrainsMono-Light.woff2') format('woff2'),
    url('JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
    url('JetBrainsMono-Regular.woff2') format('woff2'),
    url('JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
